<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>

</head>

<body>
  <form  action="/msg/60c48461ca1b5d03d6c8859f" method="post" >
    <button type="submit">Send</button>
  </form>
  <button id="homebtn">New Room</button>


</body>
</html>